@charset "utf-8";









/* ------------------------------ */
/* sample02 */
/* ------------------------------ */






.time-table {
    display: block;
    border-collapse: collapse;
  }
  
  .time-table {
    display: block;
    border-collapse: collapse;
  }
  
  .time-table th {
    border-top: 1px solid #d2d2d2;
  }
  
  .time-table th, .time-table td {
    padding: 0px 10px;
    text-align: center;
    height:50px;
    border-bottom: 1px solid #d2d2d2;
  }
  
  .time-table td {
        width: 100%;
      min-width: 58px;
      color:#1ba1e6;
      font-weight: bold;
  }
  
  .time-table td .time {
   color:#3c3c3c;
  }
  
  @media screen and (max-width: 764px)  {
   .time-table td {
    min-width: auto;
    width:100%;
    max-width:5%;
    font-size:12px;
   }
  
   .time-table th, .time-table td {
    min-width: 40px;
    width:100%;
    padding:0px 15px;
    font-size:10px;
   }
  }
 
  
  